{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <i>Fill in the form below to create your own listing.</i>
    <br><br>


    <div class="container-fluid content-row">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="card-deck">
    <div class="card-body">
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
</div></div></div></div>

{% endblock %}