{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Selected Listing</h2>
        <h3>{{clicked_listing.listing_name}}</h3>
            <ul>{{clicked_listing.listing_name}}</ul>
            <ul>{{clicked_listing.listing_description}}</ul>
            <ul>{{clicked_listing.listing_price}} </ul>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'clicked_listing' clicked_listing.id %}">
                    {% csrf_token %}
                    {{bid_form.as_p}}
                    <button type="submit">Bid Higher</button>
                </form>
            {% endif %}
            <ul>{{clicked_listing.listing_category}}</ul>
            <ul><img src={{clicked_listing.listing_image_url}}></ul>
            <br></br>
        
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_to_watchlist' clicked_listing.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Watchlist</button>
                </form>
                <br></br>
            {% endif %}

        {% for comment in comments %}
        <div>
            {% if comment.listings == clicked_listing %}
            <p>{{ comment.user.username }} - {{ comment.created_at }}</p>
            <p>{{ comment.new_comment_text }}</p>
            {% endif %}
        </div>
        {% endfor %}
        
        {% if user.is_authenticated %}
            <form method = "post" action="{% url 'clicked_listing' clicked_listing.id %}">
                {% csrf_token %}
                {{comment_form.as_p}}
                <button type="submit", name="save">
                    Create New Comment
                </button>
            </form>
            <br></br>
            {% if clicked_listing.listing_created_by == current_user%}
                <form method="post" action="{% url 'clicked_listing' clicked_listing.id %}">
                    {% csrf_token %}
                    {{ close_bid_form.as_p }} - Highest bidder goes to {{clicked_listing.listing_bid_by}}
                    <button type="submit">Close Bid</button>
                </form>
            {% endif %}
        {% endif %}

{% endblock %}