{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="item_name" placeholder="Item Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="item_description" placeholder="Brief Description of Item">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="item_starting_bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="url" name="item_image_url" placeholder="Item Image URL">
        </div>
        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Item Category</option>
              <option value="1">Fashion</option>
              <option value="2">Toys</option>
              <option value="3">Electronics</option>
              <option value="2">Home</option>
              <option value="3">No Category</option>
            </select>
        </div>
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>


<!--
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {% for field in form  %}
        {{ field.label_tag }} {{ field }}<br><br>
        {% endfor %}
        <input type="submit">
    </form>
-->

{% endblock %}


"""
class CreateListingForm(forms.Form):
    item_name = forms.CharField(max_length=64, label="Listing title or item name", widget=forms.TextInput())
    item_description = forms.CharField(max_length=640, label="A brief description of your item", widget=forms.Textarea())
    item_starting_bid = forms.IntegerField(label="Item starting bid ($)")
    item_image_url = forms.URLField(max_length=200, label="URL to item image", widget=forms.TextInput())
    #item_listed_by = forms.ForeignKey(User, on_delete=forms.CASCADE)
    item_category = forms.CharField(label="Item Category", widget=forms.Select(choices=item_category_list))
"""
