{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <h3>{{all_listings.listing_name}}</h3>
                {% for listings in all_listings %}
                    <a href="{% url 'clicked_listing' listings.id %}">{{ listings.listing_name }}</a>
                    <ul>{{listings.listing_description}}</ul>
                    <ul>{{listings.listing_price}}</ul>
                    <ul>{{listings.listing_category}}</ul>
                    <ul><img src={{listings.listing_image_url}}></ul>
                    <br></br>
                {% endfor %}
{% endblock %}

