{% extends "auctions/layout.html" %}

{% block body %}

{% for listing in listings %}

    <h2>Viewing {{ listing.item_name }}</h2>

    <div class="container-fluid content-row">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="card border-dark mb-3">
                    <div class="card text-center">
                        <img class="card-img-top" src={{listing.item_image_url}} alt="Card image cap">
                        <h2 class="card-header">{{ listing.item_name }}</h2>
                        <div class="card-body">
                            <h3 class="card-title">${{listing.item_start_price}}</h3>
                            <p class="card-text">{{ listing.item_description }}</p>
                            <a href="{% url 'listing_page' listing.item_name %}" class="btn btn-primary">Bid For {{ listing.item_name }}</a>
                            <p class="card-text"><small class="text-muted"><br>Posted by: {{ listing.item_username }} on {{ listing.item_datetime }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}


    <form method="post" >
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <button class="button" type="submit">Add Comment</button>
    </form>

{% endblock %}